@use "../../assets/styles/mixin" as *;
@use "../../assets/styles/colors" as *;

.link {
  @include on-tablet {
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
  }
  @include on-laptop {
    font-size: 20px;
  }
}
.active {
  @extend .link;
  color: $green !important;
}
.container {
  @include on-tablet {
    display: flex;
    gap: 20px;
    margin: auto;
  }
  @include on-laptop {
    gap: 24px;
  }
  @include on-design {
    gap: 32px;
  }
}
