@use '../../../assets/styles/mixin' as *;
@use '../../../assets/styles/colors' as *;

dialog {
  background-color: $green;
  position: fixed;
  padding: 0;
  border: none;
  margin: auto;
  height: auto;
  z-index: 100;
  top: 260px;
}

.congratulations {
  background-color: $green;
  color: $txt-white;
  max-width: 548px;
  padding: 0 20px;
  margin: 0 auto;
  height: auto;
  background-color: transparent;
  border-radius: 8px;
  @include on-mobile {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 24px 20px;
  }
  @include on-tablet {
    padding: 32px;
  }
  &_title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  @include on-mobile {
    font-size: 36px;
  }
  @include on-tablet {
    font-size: 40x;
  }
  &_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 76px;
    @include on-mobile {
      padding-bottom: 24px;
    }
    @include on-tablet {
      padding-bottom: 32px;
    }
  }
}
.closeBtnWrapper {
  padding-top: 24px;
  padding-bottom: 10px;

  display: flex;
  justify-content: flex-end;
  @include on-mobile {
    padding: 0;
  }
}
.closeBtn {
  background-color: transparent;
  & svg {
    width: 40px;
    height: 40px;
    stroke: $txt-white;
  }
}
