@use '../../assets/styles/mixin' as *;
@use '../../assets/styles/colors' as *;

.dialogOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #28282866;
  min-height: 100vh;
  z-index: 2;
}
