:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 500;
  height: 100%;
  // color-scheme: light dark;
  color: #424436;
  background-color: #fffff1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-light: #fffff1;
  --txt-black: #424436;
  --txt-white: #ffffff;
  --divider_grey: #282828;
  --link-color-light: #ffffff;
  --link-color-dark: #424436;
  --green: #92a134;
  --light_green: #f2f6d3;
  --light-grey: #dddddd;
}
a {
  font-weight: 500;
  text-decoration: none;
}
h1 {
  color: var(--txt-white);
}

body.light {
  background-color: var(--bg-light);
  color: var(--txt-black);
}

body.dark {
  background-color: var(--txt-black);
  color: var(--txt-white);

  footer {
    div {
      li {
        background-color: var(--divider_grey);
      }
    }
  }
}
