$light-grey: #dddddd;
$grey: #8b8b8b;
$divider_grey: #282828;

$green: #92a134;
$light_green: #f2f6d3;

$bg-light: #fffff1;

$txt-white: #ffffff;
$txt-black: #424436;
$txt-grey: #8b8b8b;

$sale: #f26d22;
$shadowHoverLight: rgba(34, 60, 80, 0.8);
