

@use "../../assets/styles/colors" as *;
@use "../../assets/styles/mixin" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  padding-block-start: 80px;

  @include on-laptop {
    gap: 64px;
  }
}

.block404 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
 

  @include on-tablet {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
  }

  @include on-laptop {
    gap: 20px;
  }

  @include on-design {
    gap: 25px;
  }
}

.image,
.imagek {
  width: 100%;
}

.item {
  width: 100%; // По умолчанию адаптивный размер
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 78px; // Автоматическая адаптация
    height: 107px;
  }
  @include on-mobile {
    img {
      width: 108px;
      height: 148px;
    }
  }
  @include on-tablet {
    img {
      width: 159px;
      height: 218px;
    }
  }
  @include on-laptop {
    img {
      width: 179px;
      height: 245px;
    }
  }
}

.itemImg {
  @include on-mobile {
    img {
      width: 181px;
      height: 163px;
    }
  }

  @include on-tablet {
    img {
      width: 266px;
      height: 240px;
    }
  }
  @include on-laptop {
    img {
      width: 300px;
      height: 270px;
    }
  }

  @include on-design {
    img {
      width: 300px;
      height: 270px;
    }
  }

}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block-start: 32px;
}

.title {
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  line-height: 40px;
  font-size: 36px;



  @include on-mobile {
    font-size: 36px;
    line-height: 48px;
  }

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
    width: 728px;
    height: 62px;
  }

  @include on-laptop {
    font-size: 56px;
    line-height: 64px;
  }

  @include on-design {
    font-size: 64px;
    line-height: 72px;
  }
}

.text {
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
 
  @include on-mobile {
    font-size: 18px;
    line-height: 22px;
  }

  @include on-tablet {
    font-size: 20px;
    line-height: 24px;
  }

  @include on-laptop {
    font-size: 20px;
    line-height: 26px;
  }

  @include on-design {
    font-size: 20px;
    line-height: 28px;
  }
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;
  border-radius: 6px;
  border: 1px solid $green;
  background-color: $green;
  color: $txt-white;
  transition-duration: 300ms;
  cursor: pointer;
  margin-top: 24px;

  &:hover {
    color: $green;
    background-color: $light_green;
  }

  @media (max-width: 480px) {
    font-size: 18px;
    min-width: 180px;
    min-height: 50px;
  }

  @include on-mobile {
    font-size: 18px;
    min-width: 180px;
    min-height: 50px;
  }

  @include on-tablet {
    font-size: 18px;
    min-width: 200px;
    min-height: 55px;
  }

  @include on-laptop {
    font-size: 20px;
    min-width: 209px;
    min-height: 58px;
  }

  @include on-design {
    font-size: 22px;
    min-width: 220px;
    min-height: 60px;
  }
}










